@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-[#FAFAFA];
  }

  /* Custom scrollbars */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #FFB3C1;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #C9184A;
  }
}
